[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_connect
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Krita Connect
Comment= FOr connecting Krita to ComfyUI.